$width: 300px
$height: 300px
  

.icon
  width: $width
  height: $height
  background: url(http://f.cl.ly/items/2Y1z310S1Q1Z16271l3l/icon.svg)
  background-position: center top
    
  @media only screen and (min-width: 30em)
    background-position: center -$height
      
  @media only screen and (min-width: 35em)
    background-position: center (-2 * $height)
      
  @media only screen and (min-width: 40em)
    background-position: center (-3 * $height)
  
  @media only screen and (min-width: 45em)
    background-position: center (-4 * $height)
      
  @media only screen and (min-width: 50em)
    background-position: center (-5 * $height)

  @media only screen and (min-width: 55em)
    background-position: center (-6 * $height)
      
  @media only screen and (min-width: 60em)
    background-position: center (-7 * $height)
 
  @media only screen and (min-width: 65em)
    background-position: center (-8 * $height)